<!DOCTYPE html>

<html>
	<head>
		<title>CS253 Blog</title>
		<link rel="stylesheet" type="text/css" href="istilo.css">

		<style type="text/css">
			body {
    		position: relative;
    		font-family: Helvetica, Arial, sans-serif;
    		font-size: 14px;

    		width: 800px;
    		margin: 0 auto;
    		padding: 10px;
    		color: #333;
		}

		.main-title {
    			display: block;
    			color: #222;
    			font-size: 40px;
    			font-weight: bold;
    			text-align: center;
    			margin-top: 10px;
    			margin-bottom: 30px;
    			text-decoration: none;
    			border-bottom: 3px solid #666;
		}

		.post-heading {
			font-size: 32px;
    		position: relative;
    		margin-top: 10px;
    		border-bottom: 3px solid #666;
		}

		.post-date {
			font-size: 12px;
			position: absolute;
			bottom: 0;
			right: 0;
		}

		pre {
			font-family: Helvetica, Arial, sans-serif;
		}

		</style>

	</head>
<body>
	<div class="main-title">CS253 Blog</div>

	{% for b in blog %}
		<label>
			<div class="post-heading">
				{{b.subject}}
				<div class="post-date">{{b.created.strftime('%d, %b %Y')}}</div>
			</div>
			<pre>{{b.content}}</pre>
		</label>
	{% endfor %}

	<div style="position: fixed; bottom: 0; right: 0px">Queried {{ time }} seconds ago</div>

</body>
</html>