<!DOCTYPE html>

<html>
	<head>
		<title>{{subject}}</title>
		<style type="text/css">
			body {
    			position: relative;
    			font-family: Helvetica, Arial, sans-serif;
    			font-size: 14px;

    			width: 800px;
    			margin: 0 auto;
    			padding: 10px;
    			color: #333;
			}

			a:link {
				text-decoration: none
			}
			a:visited {
				color: #333
			}

			.main-title {
    			display: block;
    			color: #222;
    			font-size: 40px;
    			font-weight: bold;
    			text-align: center;
    			margin-top: 10px;
    			margin-bottom: 30px;
    			text-decoration: none;
    			border-bottom: 3px solid #666;
			}

			pre {
				font-family: Helvetica, Arial, sans-serif;
			}

			.post-date {
				font-size: 12px;
			}

	</style>

	</head>
<body>
	<div class="main-title"><a href="/blog">CS253 Blog</a></div>
	{% for b in blog %}	
		<label>
			<h2>{{ b.subject}}</h2>
			<div class="post-date">{{ b.created.strftime('%d, %b %Y')}}</div>
			<pre>{{ b.content}}</pre>
		</label>
	{% endfor %}

	<div style="position: absolute; right: 0;">
		Queried {{ time }} seconds ago
	</div>
</body>
</html>