<!DOCTYPE html>

<html>
<head>
	<title>Post a new Blog</title>
	<style type="text/css">
		body {
    		position: relative;
    		font-family: Helvetica, Arial, sans-serif;
    		font-size: 14px;

    		width: 800px;
    		margin: 0 auto;
    		padding: 10px;
    		color: #333;
		}

		.post-heading {
			font-size: 32px;
    		position: relative;
    		border-bottom: 3px solid #666;
    		margin-top: 10px;
    		margin-bottom: 20px;
		}

		input[type=text] {
    		width: 500px;
    		font-size: 20px;
    		padding: 2px;
    		font-family: monospace;
		}

		textarea {
  			width: 500px;
  			height: 400px;
  			font-size: 17px;
  			font-family: monospace;
		}

		.error {
			color: red;
		}
	
	</style>
</head>
<body>
	<div class="post-heading">Post a new Blog</div>
	<form method="post">
		<label>
			<div class="post-title">Title</div>
			<input type="text" name="subject" value="{{subject}}">
		</label>
		<label>
			<div class="post-content">Content</div>
			<textarea name="content">{{content}}</textarea>
		</label>
		<div class="error">{{error}}</div>
		<input type="submit">
	</form>
</body>
</html>