<!DOCTYPE html>
<html>
	<title>Signup</title>
	<style type="text/css">
		body {
			font-family: sans-serif;
		}

		.err {
			color: red;
		}
		.lbl {
			text-align: right;
		}
	</style>
<body>
	<h2>Signup</h2>
	<form method="post">
		<table>
			<tr>
    			<td class="lbl">Username</td>
    			<td>
    				<input name="username" type="text" value="{{ pre_uname }}">
    			</td>
    			<td class="err">{{ erruser }}</td>
    		</tr>
			<tr>
    			<td class="lbl">Password</td>
		        <td><input name="password" type="password" value="{{ pre_pwd }}"></td>
		        <td class="err">{{ errpwd }}</td>
		    </tr>
		    <tr>
    			<td>Verify Password</td>
		        <td><input name="verify" type="password" value="{{ pre_ver }}"></td>
		        <td class="err">{{ errverify }}</td>
		    </tr>
		    <tr>
    			<td>Email (optional)</td>
		        <td><input name="email" type="text" value="{{ pre_email }}"></td>
		        <td class="err">{{ erremail }}</td>
		    </tr>
			<tr>
				<td><input type="submit" value="submit"></td>
			</tr>
		</table>
	</form>
</body>
</html>